
body,html {
  background-color: #f8f5e2 !important;
 
    height: 100%;

}
/* ALL TITLE FONTS */
h1, h3, h5 {
  font-family: 'Press Start 2P', cursive;
  color: #262f2a;
}

/* ALL PARAGRAPH TEXT */
p, li, a, div.font-style, i , h4{
  font-family: 'Quicksand', sans-serif;
  color: #262f2a;
}
section {
  margin-bottom: 5%;
}

/* Hero section */
section.hero {
  margin-top: 5%;
}
.typewriter h1 {
  text-align: center;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #d6341b; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
h3 {
  text-align: center;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: #d6341b }
  50% { border-color: #d6341b; }
}
/* NAVBAR */
a.nav-link {
  color: #f8f5e2;
}

a.nav-link:hover {
  color:#d6341b;
  font-weight: bold;
  
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #262f2a;
  display: flex;
  justify-content: space-evenly;
  padding-right: 2rem;
}

li {
  float: right
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background: #262f2a;
  color: #f8f5e2;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
background-blend-mode: darken;
}

/* Shapes */
.triangle  {
    width: 0;
    height: 0;
    border-bottom: 100px solid #d6341b;
    border-right: 100px solid transparent;
  
}

.triangle-bottom-right {
  width: 0;
  height: 0;
  border-bottom: 100px solid #ECAF44;
  border-left: 100px solid transparent;
}

/* Project cards */
.card-group {
  margin-bottom: 5%;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
  flex: 0 1 calc(25% - 1em);
  margin: 2.5% 2.5% 0 0;
}

h5, p.card-text, i.card-icon {
  color: #262f2a;
}

a {
  text-decoration: none !important;
  color: #262f2a !important;
}

a:hover {
  color: #d6341b !important;
}

.card-body {
  background: #f8f5e2;
}

div.card-body:hover {
  background: #FAB948;
}

div.link-logo {
  margin-top: 10%;
}



/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  filter: brightness(80%)
}

/* CONTACTS */
div.font-style {
  margin-bottom: 5%;
  margin-top: 2.5%;
  text-align: center;
}
